<%= form_for(@status) do |f| %>
  <% if @status.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@status.errors.count, "error") %> prohibited this status from being saved:</h2>

      <ul>
      <% @status.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, class: "hidden" %><br>
    <%= f.text_field :name, class: "form-control", placeholder: "Name" %>

    <%= f.label :content, class: "hidden" %><br>
    <%= f.text_area :content, class: "form-control", placeholder: "What's on your mind?" %>
  </div>
  <div class="actions">
    <%= f.submit "Post Status", class: "btn btn-primary" %>
  </div>
<% end %>
